.user-nav-item-circle {
  background: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 25px;
  color: purple;
  font-weight: 900;
  font-size: 1.2rem;
}

.remove-after-nav::after {
  border: none !important;
  content: none !important;
}

body {
  background-color: #f8f9fa;
  color: #212529;
}

.header {
  background-color: #ADB5BD;
  color: #212529 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.nav-link:hover,
.nav-link:active {
  color: #000 !important;
}

.navbar {
  margin-bottom: 25px;
}

button,
.button-primary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #e9ecef;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
  background-color: #495057 !important;
  border-color: #495057 !important;
  color: #dee2e6 !important;
}

a, a:visited {
  color: #6c757d;
}
a:active,
a:hover,
a:focus {
  color: #495057;
}

/* Index page */
.al-title-heading {
  margin-bottom: 25px;
}

.listing-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listing-card {
    width: 275px;
    padding: 15px;
    background-color: #E9ECEF;
    margin: 7px;
    border-radius: 7px;
    box-shadow: 5px 2px 2px #DEE2E6;
    height: 400px
}

.listing-card-top {
    height: 50%;
    display: flex;
    /* background-color: #f8f9fa; */
    justify-content: center;
}

.listing-card-bottom {
    height: 50%
}

.card-image {
    max-height: 95%;
    max-width: 95%;
    border-radius: 5px;
}
.heading {
    /* text-align: center !important; */
    margin-bottom: revert;
}