{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="al-title-heading">Active Listings</h2>
<div class="listing-card-container">
    {% for item in active_listings%}
    <div class="listing-card">
            <div class="listing-card-top">
                {% if item.image.url%}
                    <img src="{{item.image.url}}" class="card-image" alt="...">
                {% else %}
                    <p>No Image</p>
                {% endif %}
            </div>
            <div class="listing-card-bottom">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}.</p>
                <p class="card-text">${{item.price}}</p>
                <a href="{% url 'listing' item.id %}">Details</a>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
